* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
div.navbar {
    display: flex;
    background-color: rgb(75, 32, 32);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction:row;
    padding: 10px;
}
.navbar>button {
    height: 50px;
    width: 70px;
    padding: 0px;
    border: 0px;
}
img.imgbutton{
    width: 70px;
    height: 50px;
    position:relative;
    padding: 0px;
}
.mec{
    z-index: 10;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: bottom;
    padding: 10%;
}

.chateau{
 width: 100%;
}

.field{
    height: 70%;
    background-color: aqua;
    display: flex;
}

.house{
    width: 10%;
    height: 100%;
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    align-content: center;
}

.garden{
    width: 85%;
    height: 100%;
    background-color: rgb(107, 122, 108);
}

.spawn{
    width: 5%;
    height: 100%;
    background-image: url(doc/img/prairie.png);
}

table#a {
    width: 100%;
    height: 100%;
}

tbody{
    width: 100%;
    height: 100%;
}

tr{
    min-height: 25%;
    max-height: 25%;
}

td{
    max-width: 16.666%;
    min-width: 16.666%;
}

td>img{
    width: 191px;
    height: 104px;
    vertical-align: bottom;
}


/*-----------en bas------------*/

.jsp{
    height: 17.5%;
    background-color: rgb(75, 32, 32);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coins{
    width: 15%;
    height: 30%;
    background-color: rgb(106, 184, 29);
}

.inventory{
    width: 40%;
    height: 70%;
    background-color: rgb(86, 46, 124);
}

table#b{
    width: 100%;
    height: 100%;
}

.wave{
    width: 15%;
    height: 30%;
    background-color: rgb(106, 184, 29);
}


/*---------boutton info----------*/

.info{
    right: 0;
    left: 0;
    border: 0;
    padding: 10px 10px;
    font-size: 100%;
    text-align: center;
    border-radius: 1000px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 150px;
    margin-left: -30px;
}

.texte-info{
    margin-left:-900px;
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: solid white;
    padding: 20px;
    font-size: 30px;
}

.texte-info.mobile-menu{
    margin-left: 90px;
}