body{
	background-image: url(https://www.radiofrance.fr/s3/cruiser-production/2022/09/09c7203f-9bc6-4c6a-a114-60e986201246/1200x680_20220909_162522.jpgolivier.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	
}

#ImageFrigot img{
	width: 100%;
	margin-right: 50%;
}
#canettes{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 1000px;
	height: 100px;
	margin-top: 5%;
}

.cont img{
	width: 100%;

}

#canettes img{
	width: 150px;
}

#canettes img:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.none{
	width: 150px;
	height: 100%;
}