
html{
    background-image: url(../img/background.png);
}
body{
    
    background-image: url(../img/background2.png);
    background-color: ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    flex-direction: column;
}
main
{
 margin-top: 2%;
 display: flex;
 justify-content: center;
 border: 1px black solid;
 background-color: rgba(0, 0, 0, 0.2);
 height: 720px;
 text-align: center;
 margin-right: 5%;
 margin-left: 5%;
 color: white;
    font-weight: bold;
}

#titre
{
 margin: auto;
 background-image: url(../img/titre.png);
background-size: cover;
width: 630px;
height: 225px;
}
#containerImage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:  5%;
    align-items: center;
}

.Zoom img{
    width: 150px;
    transition: all 1s ease;
}

.Zoom:hover img {
transform:scale(1.15);
}

.jeutext{
    margin-top: 25%;
}

header
{
    border: 1px black solid;
    background-color: rgb(255, 174, 201);
    display: flex;
   justify-content: space-between;
}
header ul 
{
   list-style: none;

}
#score
{
    border: 1px black solid;
    background-color: white;
    text-align: center;
}

header>ul li:hover .submenu
{
 display: flex;
}
.submenu
{
    display:none;
    margin-right: 120px;
    flex-direction: column;
    border: 2px solid black;
    width: min-content;
    height: min-content;

    text-align: start;
    padding: 0%;
    background-color: rgb(255, 174, 201);
    
}
.son
{
    display:none;

    flex-direction: column;
    border: 2px solid black;
}
header ul li  :hover .son{display: flex;flex-direction: row; border: 2px solid black;}
.theme
{
    display:none;
 
    flex-direction: column;
    border: 2px solid black;
}
header ul li ul li :hover .theme{display: flex;flex-direction: row; border: 2px solid black;}
.dark
{
  background:none;
 
}
.dark  #titre{background-image: url(../img/titre_2.png);}
.dark header{background-color: rgb(204, 204, 204);}
.dark #jeu1 {background-image: url(../img/imgD21.png);}
.dark #jeu2 {background-image: url(../img/imgD11.png);}
.dark .submenu{background-color: rgb(204, 204, 204);}
.dark body {background-color: black;}