body {
    flex-direction: column;
    display: flex;
    margin: 0;
    background-image: url(Background\ .png);
    background-size: 100% 50vw;
    background-repeat: no-repeat;
}

#adversaire {
    height: 15vw;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

#boss {
    margin-top: 10vw;
    height: 24vw;
    width: 24vw;
    background-image: url(Boss\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#pv_boss {
    background-color: aliceblue;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    height: 5vw;
    width: 5vw;
    border: 1px violet solid;
}

#joueur {
    height: 33vw;
    width: 99vw;
    display: flex;
    /* flex-direction:row ; */
    justify-content: center;
    align-items: center;
    border: 1px rgb(78, 208, 91) solid;
}


.carte {
    margin-top: 50px;
    width: 300px;
    height: 550px;
    position: relative;
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
}

#pv_joueur {
    background-color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    height: 5vw;
    width: 5vw;
    border: 1px brown solid;
}

#previous {
    display: flex;
    position: relative;
}

#next {
    display: flex;
    position: relative;
}

.texte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 250px;
    height: 10vw;
    width: 2vw;
    align-items: center; 
}

.nom {
    font-weight: bolder;
    font-size: larger;

}

.btnCard {
    display: none;
}

#card0 {
    background-image: url(../page/image/Condom\ cat.png);
}

#card1 {
    background-image: url(../page/image/control\ queen.png);
}

#card2 { background-image: url(../page/image/Defense\ diaphragm.png); }
#card3 { background-image: url(../page/image/ImPLANTE.png); }
#card4 { background-image: url(../page/image/KawaiIUD.png); }
#card5 { background-image: url(../page/image/All\ by\ myself.png); }
#card6 {
    background-image: url(../page/image/Les\ 3\ mousqueustars.png);
}

#card7 {
    background-image: url(../page/image/Just\ the\ tip.png);
}

#card8 {
    background-image: url(../page/image/Romantic\ testing.png);
}

#card9 {
    background-image: url(../page/image/Could\ come\ in\ handy.png);
}

#card10 {
    background-image: url(../page/image/Thump\ Patch\ kids.png);
}

#card11 {
    background-image: url(../page/image/Last\ resort.png);
}

#card12 {
    background-image: url(../page/image/Waiting\ for\ marriage\ but\ not\ only.png);
}

#card13 {
    background-image: url(../page/image/Double\ protection.png);
}

#card14 {
    background-image: url(../page/image/uwupital.png);
}

#card15 {
    background-image: url(../page/image/antribiotic.png);
}

.test {
    display: flex;
    height: 30vw;
    width: 25vw;
    background-image: url(../page/image/Condom\ cat.png);
    background-size: 100%;
    background-repeat: no-repeat;



}